body {
  padding: 10px;
  height: 100vh;
  background-color: rgb(32, 3, 3);
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid black;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main {
  display: grid;
  justify-items: center;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 80px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
