{% extends 'base.html.twig' %} 

{% block title %}Cafe 80{% endblock %} 

{% block body %}

<main>
    <div class="swiper-container"> 
        <div class="swiper-wrapper">
        {% for song in Songs %}
                <div class="song-title">
                
                </div>
            <div class="swiper-slide active" data-audio="{{ asset('uploads/songs/' ~ song.name )}}"  style="background-image: url('{{ asset('uploads/images/' ~ song.image ) }}');" data-image="{{ asset('uploads/images/' ~ song.image ) }}">
                
            </div>  
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
            <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
    <audio src=""  id="player" controls></audio>
    
    <div class="container" id="disc">
        <div class="album">
            <div class="card">
    
            </div>
            <div class="outer">
                <div class="inner">
                
                </div>
            </div>
    </div>

</main>
{% endblock %}