{% extends 'base.html.twig' %} 

{% block title %}Cafe 80{% endblock %} 

{% block body %}

<main>
    <div class="swiper-container"> 
        <div class="swiper-wrapper">
        {% for song in Songs %}
            <div class="swiper-slide">
            <img src="{{ asset('uploads/images/' ~ song.image) }}" alt="{{ song.name }}"style="height:200px;width:200px">
                <div class="song-title">
                
                </div>
            </div>  
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</main>
{% endblock %}
{% block scirpt %}
{% endblock %}
