{% extends 'base.html.twig' %} 

{% block title %}Cafe 80{% endblock %} 

{% block body %}

<main>

</main>
{% endblock %}
{% block scirpt %}
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% endblock %}
